*
!.gitignore
!package.json
!.nvmrc
!/.github/
!/.github/workflows/
!/.github/workflows/ci.yml
!/boilerplate/
!/boilerplate/*
/boilerplate/index-converted.html
/boilerplate/index.zip
/boilerplate/mjmlhelper.json
/boilerplate/log.txt
!/boilerplate/*/
!/boilerplate/*/*
!mjmlhelper.js
!mjmlhelper.example.json
!README.md
